*{
  margin:0;
  padding:0;
}

html{
  scroll-behavior:smooth;
}

.navbar{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #24292e;
    z-index: -1;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    font-size: 1.1rem;
}

.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    border-radius: 2px solid rgb(234, 255, 3);
}

#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 700px;
    background-image: url("img/cat.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    opacity: .8;
}

.heading{
    color: white;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    transform: scale(1,1,3);
}

#Project{
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

#Project h1{
    padding: 60px;
}

.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img{
    width: 360px;
    height: 640px;
    padding: 30px;
    margin: 10px;
}

.gallery img:hover{
    background-color: white;
    cursor: pointer;
}

#education{
    display: flex;
    flex-direction: column;
    background-color: #3300ff;
}

#education h1{
    padding: 60px;
}

.columns{
    display: flex;
    justify-content:auto auto;
    flex-wrap: 50px;
}

.box{
    background-color: rgba(255, 255, 255, 0.1);
    width: 500px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.box h2{
    color: orangered;
    font-size: 2rem;
    margin-bottom: 40px;
}

.box p{
    color: cyan;
    font-size: 1.1rem;
}

#About{
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 100%;
}

#About h1{
    color:black;
    margin: 55px;
}

.about{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about img{
    width: 500px;
    height: 400px;
    padding: 0px 30px;
}

.name{
    padding: 10px;
}

.name h2{
    font-size: 2rem;
}

.name p{
    font-size: 1.2rem;
}

#contact{
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

#contact h1{
    margin: 50px;
}

#contact h4{
    color: rgb(255, 255, 255);
    text-align: center;
}

.contact-content{
    text-align: center;
    margin: 50px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: chocolate;
    color: aliceblue;
    text-align: center;
}

.footer-content{
    max-width: 960px;
    margin: 0 auto;
    font-family: fantasy;
    font-style:normal;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: .03em;
    font-size: 1em;
}

.credit{
    text-align: center;
}